/* Navegación SCROLL JS*/

.nav-container-blur {
/* -webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px); */
  /* opacity: 1; */
  /* position:fixed; */
  /* -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); */
  /* background-color:red; */
  /* opacity: .75;  */
  /* filter: blur(.8); */
  z-index: 99;
  background-color: rgb(238, 14, 14);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.274);
  /* filter: grayscale(50%); */
}



/* Navegación */

.nav-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 65px;
  /* margin: auto; */
  position:fixed;
  /* justify-content: center;
  align-items: center; */
  z-index: 99;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.274);
  
}
@media (max-width: 768px){
  .nav-container {
    display: none ;
    /* margin-bottom: 6rem; */
 }
}

nav {
    min-height: 3rem;
    width: 100%;
}
nav .brand {
  margin-top: 0;
  padding: .7rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
  /* padding-left: 10%; */
  
}

nav .brand img {
  max-height: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  
}

@media (max-width: 768px){
  nav .brand img {
        display: inline-block;
        justify-content: center;
        align-items: center;
        max-height: 10%;
        padding-left: 10%;
 }
}
nav li {
  display: inline-block;
  /* padding-left: 10%; */
}
nav li a {
    font-weight: 700;
    padding: 10px;
    display: inline-block;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

nav li a:hover {
  color: #c49b66;
  background-color: black;
  border-radius: 5px;
  width: auto;
  justify-content: center;
  align-items: center;
  
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 0, 0);
}

/* li {
  list-style: none;
  display: inline-block;
  padding: 1.7rem;
}

a {
  text-decoration: none;
  font-family: 'roboto';
  font-size: 1.1rem;
  color: azure;
  text-transform: uppercase;
} */

/* ul li:hover {
  background: rebeccapurple;
  transition: all 0.5s ease-in-out;
} */

.toggle {
  width: 100%;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  color: azure;
  cursor: pointer;
  display: none;
  background: rgb(255, 255, 255);
}

@media (max-width: 800px) {
  .toggle {
    display: inline-block;
    background-image: url(/OscarMoreno-Portfolio/portfolioom/assetsom/imagenes/Oscar{}-om.png);
    background-repeat: no-repeat;
    /* margin-top: .5rem; */
  }

  ul {
    width: 100%;
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
  }

  .active {
    display: block;
  }
}



/* Body */

body {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  line-height: 1.3;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden !important;
}

/*Iconos*/

.icon-exp{
  background-color: #c49b66;
}
.icon-exp:hover {
  color: #c49b66;
  background-color: #c49b66;
  text-decoration: white;
  transform: rotate(180deg);
}
/* Intro section */
.intro {
  /* background-image: url();  */
  background-size: cover;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat; 
  min-height: 500px; 
  padding-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 

  /* vertical-align: middle */
}
/* .intro a:hover {
  filter: alpha(opacity=60); 
  -moz-opacity: 0.6;
  opacity: .6;
  position:absolute;
  top:0; left:0;
  width:75px; height:75px;
  z-index:110;
}
/* .intro-overlay {
  background: rgba(0, 0, 0, 0.849);
  background-repeat: no-repeat; 
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
} */
.intro::before {
  content: '';
  background-color: rgb(255, 255, 255);
} 
.intro-subtitle {
  font-weight: 300;
  font-size: 3rem;
  color: white;
  letter-spacing: 0.05em;
  text-align: center;
  /* margin-block-end: 10px; */
 
  /* float:left;  */

  

}

.spanTyping{
  width: 100%;
  /* margin: 20rem; */
  align-items: right;

}
.intro-title {
  
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin-top: 3rem;
  
}

.principal{
  font-weight: 600;
  font-size: 3rem;
  color: #c49b66;

}
@media (max-width: 768px){
  .principal {
      /* display: block; */
      font-weight: 600;
      font-size: 1.5rem;
      color: #c49b66;
      margin-top: 10px;
 }
}


.typingEff {
  /* background: #c49b66; */
  position: relative;

}
.typingEff::after {
  content: "";
  border-left: 2px solid #ffffff;  
  background-color: black;
  right: 0;
  height: 40%;
  position: absolute;
  animation: maquina 2s infinite alternate steps(14); 
}
@keyframes maquina {
  from {width: 100%;}
  to {width: 0;}
}




.h4-bg{
  color: #ffffff;
  background-color: #c49b66;
  width: 20rem;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;

}

@media (max-width: 768px){
  .h4-bg {
  color: #c49b66;
  background-color: #ffffff;
  width: 20rem;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  min-height:1.8rem ;
  align-items: center;
  text-align: center;
  }
}
.h5-color{
  color: #8f8f8f;
  font-size: .9rem;
  text-transform: uppercase;

}

.p-dec{
  color: #8f8f8f;
  font-size: .9rem;
  text-transform: none;
}

.hr-dec{
  color: #c49b66;
  font-weight: bold;
  width: 40%;
}

.hr-dec-100{
  color: #c49b66;
  font-weight: bold;
  width: 100%;
}

.h2-dec {
  margin: 80px;
  font-size: 3rem;
  vertical-align: middle;
  align-content: center;
  color: #ffffff;
  text-shadow: 2.3px 2.3px 5px black;
  text-align: center;
  animation: blink 2s linear infinite;
}
@media (max-width: 768px){
	.h2-dec {
	  margin: 40px;
    font-size: 1.5rem;
    vertical-align: middle;
    align-content: center;
    color: #ffffff;
    text-shadow: 2.3px 2.3px 5px black;
    text-align: center;
    animation: blink 2s linear infinite;
   }
  }

.p-dec-2 {
  color: #c49b66;
  text-align: center;
  font-weight: bold;
}

.text-black {
  color: #000000;
  text-align: center;
  font-weight: bold;
}



@keyframes blink {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 0.7;
  }

  100% {
      opacity: 0;
  }
}

/* Mobile Menu */

footer{
  width: 100%;
  min-height: 12rem;
  align-items: center;
  position: absolute;
  text-align: center;
}



@media (max-width: 768px){
	.typed {
	  font-size: 1rem;
   }
  }

  